* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	font-size: 1em;
	font-family: Helvetica, Arial, sans-serif;
	color: #555555;
	background: #111111;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 55px;
  background: #111111;
  z-index: 1;
  top: 0;
}

.logo {
	padding: 10px;
  width: 25%;
  float: left;
}

.menu {
  float: right;
  width: 70%;
}

.menu ul li {
  float: right;
  display: inline-block;
  list-style: none;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:visited, a:active {
  color: #aaaaaa;
}

.white {
  color: #aaaaaa;
}

section {
  margin-top: 55px;
}

.grid-item {
	float: left;
	position: relative;
}

.grid-sizer, .grid-item {
	width: 100%;
}

@media screen and (min-width: 600px) {
	.grid-sizer, .grid-item {
		width: 50%;
	}
}

@media screen and (min-width: 1000px) {
	.grid-sizer, .grid-item {
		width: 33%;
	}
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
}

img:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#cboxCurrent, button {
	display: none !important;
}
#cboxLoadedContent {
	margin-bottom: 0 !important;
}

.words p {
	padding: 10px 20px;
}
