* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	font-size: 1em;
	font-family: Helvetica, Arial, sans-serif;
	color: #555555;
	background: #111111;
}

.logo {
	padding: 10px;
}

.grid-item {
	float: left;
	position: relative;
}

.grid-sizer, .grid-item {
	width: 100%;
}

@media screen and (min-width: 500px) {
	.grid-sizer, .grid-item {
		width: 50%;
	}
}

@media screen and (min-width: 1000px) {
	.grid-sizer, .grid-item {
		width: 33%;
	}
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
}

.owl-carousel {
	display: none;
}

#cboxCurrent, button {
	display: none !important;
}
#cboxLoadedContent {
	margin-bottom: 0 !important;
}